<div class="card m-3">
  <img
    [src]="product.imageUrl"
    class="card-img-top img-fluid"
    alt="{{ product?.title }}"
    *ngIf="product?.imageUrl"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product?.title }}</h5>
    <p class="card-text">{{ product?.price | currency: "USD" }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer p-0">
    <button
      class="btn btn-secondary w-100"
      (click)="addToCart()"
      *ngIf="getQuantity() === 0; else updateQuantity"
    >
      Add to Cart
    </button>
    <ng-template #updateQuantity>
      <div class="row g-0">
        <div class="col-2">
          <button class="btn btn-secondary w-100" (click)="removeFromCart()">
            -
          </button>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          {{ getQuantity() }} in cart
        </div>
        <div class="col-2 d-block">
          <button class="btn btn-secondary w-100" (click)="addToCart()">
            +
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
