<div class="card m-3">
  <img
    [src]="product.imageUrl"
    class="card-img-top img-fluid"
    alt="{{ product?.title }}"
    *ngIf="product?.imageUrl"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product?.title }}</h5>
    <p class="card-text">{{ product?.price | currency: "USD" }}</p>
  </div>
  <div class="card-footer p-0">
    <button
      *ngIf="showActions"
      class="btn btn-primary w-100"
      (click)="addToCart(product)"
    >
      Add to Cart
    </button>
  </div>
</div>
