<h1>Shopping Cart</h1>
<p *ngIf="totalQuantity">You have {{ totalQuantity }} items in your cart</p>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cart">
      <td>{{ item.product.title }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.price * item.quantity | currency: "USD" }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>{{ totalPrice | currency: "USD" }}</th>
    </tr>
  </tfoot>
</table>
